---
import { base } from 'components/shared/Button/button'

interface AnchorProp {
  class: string
  href: string
}

const { class: className, href } = Astro.props as AnchorProp
---

<a class={`${base} ${className}`} href={href} rel="prefetch">
  <slot />
</a>
