---
import Button from 'components/shared/Button/Button.astro'
import IClose from 'components/shared/Icons/IClose.astro'
import IHamburger from 'components/shared/Icons/IHamburger.astro'
---

<div class="relative top-0 z-[9] h-6 w-6 min-[992px]:hidden lg:ml-[1.25rem]">
  <Button id="hamburger" class="scale-75" type="button">
    <IHamburger class="icon animate-fadein dark:invert" strokeColor="#000000" />

    <IClose class="icon animate-fadeout hidden" strokeColor="#ff0000" />
  </Button>
</div>
