---
import { getCollection } from 'astro:content'

import Navigation from 'layout/Header/Navigation.astro'
import Hamburger from 'layout/Header/Hamburger.astro'
import Logo from 'components/shared/Logo.astro'

const navs = await getCollection('nav')
---

<header
  id="header"
  class="sticky top-0 left-0 z-[10] w-full bg-transparent transition-all delay-150 ease-out duration-500"
>
  <div class="wrapper">
    <nav class="w-full h-10 flex items-center max-[992px]:justify-between">
      <Logo />
      <Navigation navs={navs} />
      <Hamburger />
    </nav>
  </div>
</header>

<script>
  let scrollPos: number

  window.addEventListener('scroll', (e) => {
    e.stopImmediatePropagation()

    const nav = document.querySelector('#header') as HTMLButtonElement

    let scrollTop = window.scrollY || document.documentElement.scrollTop

    if (scrollTop === 0) {
      nav.classList.remove('active')
      scrollPos = 0
    }

    if (scrollTop > scrollPos) {
      nav.classList.add('active')
    }

    scrollPos = scrollTop
  })
</script>
