---
import { getCollection } from 'astro:content'

import Navigation from 'layout/Header/Navigation.astro'
import Hamburger from 'layout/Header/Hamburger.astro'
import Logo from 'components/shared/Logo.astro'

const navs = await getCollection('nav', ({ data }) => {
  return data.slugs !== 'hero'
})
---

<header
  id="header"
  class="sticky top-0 left-0 z-[10] w-full bg-transparent transition-all delay-300 ease-out"
>
  <div class="wrapper">
    <nav
      class="w-full h-[5rem] flex items-center max-[992px]:flex max-[992px]:justify-between"
    >
      <Logo />
      <Navigation navs={navs} />
      <Hamburger />
    </nav>
  </div>
</header>

<script>
  const nav = document.querySelector('#header')
  const targets = document.querySelectorAll('.targets')

  const observer = new IntersectionObserver(
    (entries) => nav.classList.toggle('active', !entries[0].isIntersecting),
    {
      rootMargin: '0px',
      threshold: [1]
    }
  )

  if (targets !== null)
    targets.forEach((index) => {
      if (index) observer.observe(index)
    })
</script>
