---
import type { NavProp } from 'types/type.ts'

const pathname = Astro.url.pathname

const { navs } = Astro.props as NavProp
---

<ul
  id="navigation"
  class="navigation_bg relative flex w-full list-none items-center justify-end gap-x-7 max-[992px]:invisible max-[992px]:fixed max-[992px]:top-0 max-[992px]:left-0 max-[992px]:h-full max-[992px]:w-full max-[992px]:flex-col max-[992px]:justify-center max-[992px]:gap-y-4 max-[992px]:text-center max-[992px]:opacity-0 max-[992px]:transition-all max-[992px]:delay-150 max-[992px]:duration-300 max-[992px]:ease-out"
>
  {
    navs
      .sort((a, b) => a.data.id - b.data.id)
      .map(({ data }) => (
        <li>
          <a
            class={`${pathname === data.link ? 'text-teal' : 'text-dark dark:text-light'} font-main links text-sm uppercase max-[992px]:text-lg max-[992px]:focus:outline-none`}
            href={data.link}
          >
            {data.title}
          </a>
        </li>
      ))
  }
</ul>

<script>
  const hamburger = document.querySelector('#hamburger') as HTMLButtonElement
  const navigation = document.querySelector('#navigation') as HTMLButtonElement
  const icons = document.querySelectorAll('.icon') as NodeListOf<Element>

  hamburger.addEventListener('click', () => {
    icons.forEach((icon) => {
      if (icon.classList.contains('hidden')) {
        navigation.classList.replace(
          'max-[992px]:opacity-0',
          'max-[992px]:opacity-100'
        )

        navigation.classList.replace(
          'max-[992px]:invisible',
          'max-[992px]:visible'
        )

        icon.classList.remove('hidden')
      } else {
        navigation.classList.replace(
          'max-[992px]:visible',
          'max-[992px]:invisible'
        )

        icon.classList.add('hidden')
      }
    })
  })
</script>
