---
import type { IconProp } from 'types/type.ts'

const { strokeColor = '#000', class: className } = Astro.props as IconProp
---

<svg
  class={`${className} animate-bounce`}
  width="50px"
  height="50px"
  viewBox="0 0 65 65"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  stroke={strokeColor}
  stroke-width="1"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <title>Scroll Down</title>
  <path
    d="M20.0687 23.2646L32.5 35.6687L44.9312 23.2646L48.75 27.0833L32.5 43.3333L16.25 27.0833L20.0687 23.2646Z"
    fill="#1C9DB6"></path>
</svg>
