---
interface AstroProp {
  strokeColor: string
  className?: string
}

const { strokeColor = '#000', className } = Astro.props as AstroProp
---

<svg
  width="30px"
  height="50px"
  viewBox="0 0 350 304"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  stroke={strokeColor}
  stroke-width="0.85"
  stroke-linecap="round"
  stroke-linejoin="round"
  class={className}
>
  <title>Codezen</title>
  <path
    style="opacity:0.988"
    fill="#ededed"
    d="M -0.5,-0.5 C 116.167,-0.5 232.833,-0.5 349.5,-0.5C 349.5,0.166667 349.5,0.833333 349.5,1.5C 291.431,101.97 233.097,202.303 174.5,302.5C 154.463,268.932 134.796,235.098 115.5,201C 127.573,192.876 140.073,185.376 153,178.5C 160.657,189.803 167.824,201.47 174.5,213.5C 207.419,157.33 240.086,100.997 272.5,44.5C 207.167,43.1667 141.833,43.1667 76.5,44.5C 83.4196,56.0038 90.0862,67.6705 96.5,79.5C 84.2659,87.2035 71.7659,94.5368 59,101.5C 58.228,101.355 57.5613,101.022 57,100.5C 38.3116,67.1095 19.1449,34.1095 -0.5,1.5C -0.5,0.833333 -0.5,0.166667 -0.5,-0.5 Z"
  ></path>
</svg>
