---
interface AstroProp {
  strokeColor: string
  className?: string
}

const { strokeColor = '#000', className } = Astro.props as AstroProp
---

<svg
  width="40px"
  height="32px"
  viewBox="0 0 60 52"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  stroke={strokeColor}
  stroke-width="0.85"
  stroke-linecap="round"
  stroke-linejoin="round"
  class={className}
>
  <title>One Page</title>
  <g clip-path="url(#clip0_108_2)">
    <path
      d="M17.6738 51.9367C7.16528 51.9367 0.0632901 51.9077 0.00114219 51.8673C-0.0877235 51.7486 5.03251 42.6785 7.1162 39.2635C7.21087 39.0912 7.34394 38.9431 7.5051 38.8305C7.66626 38.718 7.85118 38.644 8.04552 38.6144C8.08689 38.6108 8.12852 38.6176 8.16658 38.6343C8.20463 38.6509 8.2379 38.6769 8.26333 38.7097C8.29122 38.7696 8.30446 38.8352 8.30193 38.9012C8.29941 38.9673 8.28119 39.0317 8.2488 39.0893C8.12886 39.3591 6.59927 42.0619 4.88004 45.0136C3.14832 47.9375 1.68552 50.584 1.68552 50.7928C1.68552 51.0286 9.09506 51.1123 30.0006 51.1123C44.8196 51.1123 58.3156 51.0292 58.3156 50.938C58.3156 50.8248 56.8798 48.2779 54.9759 45.0136C52.2573 40.311 51.5453 38.9955 51.7154 38.7004C51.7445 38.6487 51.8026 38.6246 51.8975 38.6246C52.1055 38.6246 52.2974 38.7791 52.8849 39.6957C53.4983 40.654 54.5655 42.4787 56.3989 45.6238L60 51.8386L30.0586 51.9257C25.7771 51.933 21.6103 51.9367 17.6738 51.9367ZM20.6223 39.1927C18.7608 39.189 16.9239 38.7666 15.2477 37.9567C12.695 36.8371 10.6397 34.8231 9.46853 32.2937C8.85485 30.9374 8.49207 29.4812 8.39778 27.9956C8.27169 26.5197 8.41807 25.0333 8.82962 23.6104C9.99127 19.9262 12.8373 17.0471 16.6417 15.7112C17.6824 15.3177 18.7899 15.131 19.9021 15.1618C20.2216 15.1618 20.591 15.1705 21.0269 15.1885C21.8946 15.1769 22.7611 15.2584 23.6115 15.4316C24.3895 15.6515 25.1397 15.9597 25.8477 16.3501C27.1284 16.9624 28.2929 17.7928 29.2891 18.8041C30.2791 19.8273 31.0892 21.0104 31.6849 22.3035C32.0344 22.9664 32.2968 23.6717 32.4656 24.4018C32.6 25.3124 32.6498 26.2335 32.6145 27.1534C32.5855 29.7773 32.4984 30.2317 31.6852 32.0033C30.6847 34.1728 29.087 36.0124 27.079 37.307C25.1512 38.5388 22.911 39.1931 20.6232 39.1924L20.6223 39.1927ZM20.2979 20.3677C19.797 20.3691 19.299 20.4441 18.8198 20.5901C15.7414 21.5194 13.5924 24.2182 13.5924 27.1534C13.5924 31.2949 17.1935 33.8584 20.5306 33.8584C21.8595 33.8598 23.1572 33.4558 24.2504 32.7002C25.3125 31.9911 26.1475 30.9908 26.6555 29.8191C27.1634 28.6475 27.3228 27.3542 27.1145 26.0943C26.8996 24.8062 26.3179 23.6074 25.4391 22.6414C24.5603 21.6755 23.4216 20.9835 22.1595 20.6482C21.554 20.4732 20.9281 20.3789 20.2979 20.3677ZM39.5841 39.0602H34.6471L34.56 27.4438C34.5289 20.5741 34.5647 15.6421 34.6471 15.4498C34.736 15.2053 35.6139 15.1226 38.1268 15.1226C39.0373 15.1226 40.2108 15.1342 41.8203 15.1591H41.8301C48.8778 15.2463 48.8778 15.2463 50.3584 16.0304C51.0669 16.4009 51.7215 16.8665 52.3041 17.4142C53.6292 18.673 54.4939 20.3398 54.7599 22.1481C55.0258 23.9564 54.6776 25.8016 53.771 27.3886C53.3948 28.0482 52.9302 28.6532 52.3901 29.1868C51.8112 29.7569 51.1574 30.2454 50.4466 30.6389C49.8452 31.0252 49.1724 31.2869 48.4681 31.4085C47.677 31.5398 46.5223 31.5827 44.3771 31.6553L39.8757 31.8005L39.7293 35.4301L39.5841 39.0602ZM43.3595 20.3287C40.8137 20.3287 39.9599 20.4205 39.8455 20.7063C39.7584 20.9412 39.7311 22.3108 39.7874 23.6975L39.8745 26.2822L43.3595 26.3693C43.723 26.3768 44.0652 26.3809 44.3759 26.3809H44.3788C47.6546 26.3809 48.6632 25.9546 49.2841 24.3074C49.6678 23.304 49.6224 23.0673 49.197 22.1874C49.0522 21.8253 48.8254 21.5018 48.5344 21.2423C48.2433 20.9828 47.8961 20.7943 47.5199 20.6918C46.7053 20.4339 45.5001 20.3287 43.3595 20.3287ZM22.5986 13.3635C22.5203 13.3613 22.4461 13.3282 22.3921 13.2715C22.3851 13.2631 22.3953 13.225 22.4211 13.1576C22.6947 12.4766 24.5925 9.02248 26.24 6.10066C27.9488 3.07487 29.7284 0.0142301 29.8554 0C29.9384 0 30.9621 1.64808 32.2367 3.83342C36.5743 11.3519 37.49 12.9906 37.3317 13.2648C37.3198 13.2822 37.3033 13.296 37.284 13.3045C37.2647 13.313 37.2434 13.316 37.2225 13.313C37.1866 13.3123 37.1508 13.3082 37.1156 13.3008C36.6919 13.2445 35.6845 11.7326 33.3984 7.72492C31.6652 4.69187 30.115 2.17808 29.9425 2.12C29.9403 2.11964 29.938 2.11964 29.9358 2.12C29.7348 2.12 28.2198 4.5185 26.4863 7.57972C24.0103 11.9196 23.1013 13.3635 22.5986 13.3635Z"
      fill="#E6E6E6"></path>
  </g>
  <defs>
    <clipPath id="clip0_108_2">
      <rect width="60" height="51.9367" fill="white"></rect>
    </clipPath>
  </defs>
</svg>
