---
const { class: className } = Astro.props as { class?: string }
---

<div
  class={`${className} animation opacity-0 transition-all delay-150 duration-300 ease-in-out`}
>
  <slot />
</div>

<script>
  const elementHidden = document.querySelectorAll('.animation')

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible')
      } else {
        entry.target.classList.remove('visible')
      }
    })
  })

  elementHidden.forEach((element) => observer.observe(element))
</script>
