---
import IMoon from 'components/shared/Icons/IMoon.astro'
import ISun from 'components/shared/Icons/ISun.astro'
---

<div class="relative my-6 flex items-center justify-end space-x-2 lg:my-0">
  <label class="flex w-8 items-center rounded-xl bg-gray-100" for="toggle_box">
    <input
      id="toggle_box"
      class="peer appearance-none"
      name="checkbox"
      type="checkbox"
    />

    <div class="absolute inset-0 z-[1] flex justify-between">
      <ISun class="scale-[0.8]" strokeColor="#333" />
      <IMoon class="scale-[0.8]" strokeColor="#333" />
    </div>

    <span
      class="after:bg-teal relative z-[2] flex h-4 w-4 cursor-pointer items-center rounded-2xl duration-300 ease-in-out after:h-4 after:w-4 after:rounded-2xl after:shadow-md after:duration-300 peer-checked:after:translate-x-4"
    >
    </span>
  </label>
</div>

<script>
  const checkbox = document.querySelector('#toggle_box') as HTMLInputElement
  const html = document.querySelector('html') as HTMLHtmlElement

  if (localStorage.getItem('darkmode') === 'true') {
    checkbox.checked = true
    html.classList.add('dark')
  }

  if (localStorage.getItem('darkmode') === 'false') {
    checkbox.checked = false
    html.classList.remove('dark')
  }

  const handleDarkmode = (e: MouseEvent) => {
    e.stopImmediatePropagation()

    localStorage.setItem('darkmode', `${checkbox.checked}`)

    if (checkbox.checked) {
      html.classList.add('dark')
    } else {
      html.classList.remove('dark')
    }
  }

  checkbox.addEventListener('click', handleDarkmode)
</script>
