---
import IDown from 'components/shared/Icons/IDown.astro'
---

<button
  class="block w-fit cursor-pointer transition-all delay-75 ease-in-out hover:translate-y-1.5"
  id="down"
>
  <IDown strokeColor="#1D93B1" />
</button>

<script>
  const down = document.getElementById('down') as HTMLButtonElement
  const projectSection = document.querySelector(
    '.projects'
  ) as HTMLButtonElement

  down.addEventListener('click', () => {
    projectSection.scrollIntoView({ behavior: 'smooth', block: 'start' })
  })
</script>
