<button class="mx-auto mt-10 block w-fit cursor-pointer lg:mx-0" id="down">
  <span
    class="bg-teal text-light rounded-sm px-4 py-2 text-sm font-semibold capitalize sm:px-5 sm:py-2.5 sm:text-base"
  >
    See my projects
  </span>
</button>

<script>
  const down = document.getElementById('down') as HTMLButtonElement
  const projectSection = document.querySelector(
    'section#projects'
  ) as HTMLButtonElement

  down.addEventListener('click', () => {
    projectSection.scrollIntoView({ behavior: 'smooth', block: 'nearest' })
  })
</script>
