---
import IDown from 'components/shared/Icons/IDown.astro'
---

<div class="mt-16 flex justify-center cursor-pointer down" title="Scroll Down">
  <IDown className="scale-90" strokeColor="#1D93B1" />
</div>

<script>
  const down = document.querySelector('.down') as HTMLButtonElement
  const section = document.getElementById('projects') as HTMLButtonElement

  down.addEventListener('click', () => {
    section.scrollIntoView({ block: 'start', behavior: 'smooth' })
  })
</script>
