---
// import ILogo from 'components/shared/Icons/ILogo.astro'

import { getCollection } from 'astro:content'

const seo = await getCollection('seo')
---

<button
  class="relative z-[1] flex w-4 cursor-pointer items-center gap-1"
  id="logo"
  title={seo[0].data.metaTitle}
>
  <!-- <div class="cursor-pointer invert dark:invert-0">
    <ILogo strokeColor="#000" />
  </div> -->

  <p class="mt-0.5 text-3xl font-semibold">{seo[0].data.metaTitle}</p>
</button>

<script>
  const logo = document.getElementById('logo')

  logo!.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' })

    if (window.location.pathname !== '/') return window.location.replace('/')
  })
</script>
