---
import ILogo from 'components/shared/Icons/ILogo.astro'

import { getCollection } from 'astro:content'

const seo = await getCollection('seo')
---

<div class="relative z-[1] w-[3rem] h-[3rem] logo">
  <button class="flex items-center dark:invert" title={seo[0].data.metaTitle}>
    <ILogo strokeColor="#fff" />
  </button>
</div>

<script>
  const logo = document.querySelector('.logo')

  logo!.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' })

    if (window.location.pathname !== '/') return window.location.replace('/')
  })
</script>
