---
import ILogo from 'components/shared/Icons/ILogo.astro'

import { getCollection } from 'astro:content'

const seo = await getCollection('seo')
---

<div class="logo relative z-[1] w-4">
  <button class="flex items-center" title={seo[0].data.metaTitle}>
    <span class="cursor-pointer dark:invert">
      <ILogo strokeColor="#fff" />
    </span>
  </button>
</div>

<script>
  const logo = document.querySelector('.logo')

  logo!.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' })

    if (window.location.pathname !== '/') return window.location.replace('/')
  })
</script>
