---
import ITop from 'components/shared/Icons/ITop.astro'
---

<div
  class="fixed bottom-2 z-[1] flex w-[1300px] animate-pulse justify-end max-[1440px]:w-[90%]"
>
  <button
    class="curser-pointer top visible cursor-pointer border-0 bg-transparent no-underline opacity-100 transition-[opacity] delay-150 duration-300 ease-out focus:outline-none"
    title="Go To Top"
  >
    <ITop class="scale-90" strokeColor="#1D93B1" />
  </button>
</div>

<script>
  const top = document.querySelector('.top')
  const target = document.querySelector('.target')

  const observer = new IntersectionObserver(
    (entries) => top!.classList.toggle('hide', !entries[0].isIntersecting),
    {
      rootMargin: '0px',
      threshold: [1]
    }
  )

  if (target !== null) observer.observe(target)

  top!.addEventListener(
    'click',
    (e) => {
      e.stopImmediatePropagation()

      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      })
    },
    true
  )
</script>
