---
import Button from 'shared/Button/Button.astro'
import IClose from 'shared/Icons/IClose.astro'
import IHamburger from 'shared/Icons/IHamburger.astro'
---

<div
  class="relative top-[-0.2rem] z-[9] w-6 h-6 lg:hidden max-[992px]:ml-[1.25rem]"
>
  <Button id="hamburger" className="dark:invert scale-75" type="button">
    <IHamburger className="icon animate-fadein" strokeColor="#fff" />

    <IClose className="icon hidden animate-fadeout" strokeColor="#fff" />
  </Button>
</div>
