---
import { getCollection } from "astro:content";

import Logo from "shared/Logo.astro";
import Navigation from "main/Header/Navigation";
import Hamburger from "main/Header/Hamburger";

const navs = await getCollection("nav", ({ data }) => {
  return data.slugs !== "hero";
});
---

<header
  class="fixed top-0 left-0 z-[10] w-full bg-transparent transition-all delay-150 ease-out navigation"
>
  <div class="wrapper">
    <nav class="w-full h-[5rem] flex items-center mdx:flex mdx:justify-between">
      <Logo />
      <Navigation client:load navs={navs} />
      <Hamburger client:visible />
    </nav>
  </div>
</header>

<script>
  const nav = document.querySelector(".navigation");
  const targets = document.querySelectorAll(".targets");

  if (nav !== null) {
    const observer = new IntersectionObserver(
      (entries) => nav.classList.toggle("active", !entries[0].isIntersecting),
      {
        rootMargin: "0px",
        threshold: [1],
      }
    );

    if (targets !== null)
      targets.forEach((index) => {
        if (index) observer.observe(index);
      });
  }
</script>
