@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Oswald-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Oswald-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Oswald-Regular.woff2') format('woff2');
}

@layer base {
  *,
  *:before,
  *:after {
    @apply p-0 m-0 box-border;
  }

  html {
    @apply w-full h-screen text-root;
  }

  body {
    @apply w-full h-full text-base text-light bg-dark dark:text-dark dark:bg-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 font-main uppercase leading-initial text-white dark:text-dark;
  }

  h1 {
    @apply text-h1 leading-[1.1];
  }

  h2 {
    @apply text-h2 leading-[1.2];
  }

  h3 {
    @apply text-h3 leading-[1.3];
  }

  a {
    @apply w-fit no-underline cursor-pointer font-main font-normal text-white dark:text-dark;
  }

  p {
    @apply m-0 font-main font-normal leading-[1.5] text-white dark:text-dark;
  }

  span {
    @apply text-dark dark:text-white;
  }

  ul,
  ol,
  dd {
    @apply m-0 p-0 list-none;
  }

  button {
    @apply border-0 p-0 cursor-pointer;
  }

  figure {
    @apply m-0;
  }

  cite {
    @apply not-italic;
  }

  fieldset {
    @apply border-0 p-0 m-0;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-[1300px] w-[90%] h-full mx-auto;
  }

  .grid-stack {
    grid-area: 1/-1;
  }

  .grid-stack-auto {
    grid-area: auto;
  }

  .grid-1 {
    @apply grid grid-cols-1 auto-rows-auto;
  }

  .grid-2 {
    @apply grid grid-cols-2 auto-rows-auto;
  }

  .flexcenter {
    @apply flex justify-center items-center;
  }

  .flexbetween {
    @apply flex justify-between items-center;
  }

  /* ANIMATION FADE */
  .animation.visible {
    @apply opacity-100;
  }

  /* NAVIGATION BACKGROUND */
  #header.active {
    @apply bg-dark dark:bg-light;
  }

  /* TOP BUTTON */
  .top.hide {
    @apply opacity-0 hidden;
  }

  /* FORM CHECKBOX */
  .content {
    content: '\2713' !important;
  }

  .checklabel > .checkinput:checked + .checkspan:before {
    @apply content absolute -top-1.5 left-2 text-2xl text-green-500 font-bold;
  }
}
