@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Roboto-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/Roboto-Light.woff2') format('woff2');
}

@theme inline {
  --color-dark: hsl(0, 0%, 7%);
  --color-light: hsl(193, 22%, 92%);
  --color-teal: hsl(192, 72%, 40%);

  --font-main: 'Roboto', 'sans-serif';

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-gradient: var(--body-background);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(61.237% 0.10485 219.807);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --body-background: oklch(91.583% 0.0001 271.152);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(61.237% 0.10485 219.807);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --body-background: oklch(14.479% 0.00002 271.152);
}

@layer base {
  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    border-color: var(--border);
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-main);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  span {
    color: var(--color-dark);

    &:where(.dark, .dark *) {
      color: var(--color-light);
    }
  }

  h1 {
    font-weight: bold;
    text-transform: uppercase;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    text-transform: uppercase;
  }

  a {
    font-weight: 400;
    text-decoration: none;
  }

  p {
    font-weight: 400;
  }

  ul,
  ol,
  dd {
    list-style: none;
  }
}

@utility grid-stack {
  grid-area: 1/-1;
}

@utility grid-stack-auto {
  grid-area: 1/-1;
}

@utility content {
  content: '\2713' !important;
}

@layer utilities {
  .wrapper {
    max-width: 1300px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  /* ANIMATION FADE */
  .animation.visible {
    opacity: 1;
  }

  /* NAVIGATION BACKGROUND */
  .body_bg {
    background: var(--color-gradient);
  }

  #header.active {
    background: var(--color-gradient);
  }

  .active-link {
    color: var(--chart-2);
    transition: 0.35s ease-in;
  }

  /* TOP BUTTON */
  .top.hide {
    visibility: hidden;
    opacity: 0;
  }

  /* FILTER ICON */
  .filter_sun_color {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(231deg)
      brightness(106%) contrast(106%);
  }

  .filter_moon_color {
    filter: invert(15%) sepia(6%) saturate(2852%) hue-rotate(169deg)
      brightness(94%) contrast(92%);
  }
}
