@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Oswald-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/Oswald-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Oswald-Regular.woff2') format('woff2');
}

@layer base {
  *,
  *:before,
  *:after {
    @apply p-0 m-0 box-border;
  }

  body {
    @apply bg-dark dark:bg-light;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-main uppercase;
  }

  a {
    @apply no-underline font-main font-normal;
  }

  p {
    @apply font-main font-normal;
  }

  ul,
  ol,
  dd {
    @apply list-none;
  }

  button {
    @apply border-0;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-[1300px] w-[90%] h-full mx-auto;
  }

  .grid-stack {
    grid-area: 1/-1;
  }

  .grid-stack-auto {
    grid-area: auto;
  }

  /* ANIMATION FADE */
  .animation.visible {
    @apply opacity-100;
  }

  /* NAVIGATION BACKGROUND */
  #header.active {
    @apply bg-gradient-to-r from-dark/70 to-teal/20 dark:from-[#566977]/70 dark:to-slate-400/10 backdrop-blur-sm;
  }

  /* TOP BUTTON */
  .top.hide {
    @apply opacity-0 hidden;
  }

  /* FORM CHECKBOX */
  .content {
    content: '\2713' !important;
  }

  .checklabel > .checkinput:checked + .checkspan:before {
    @apply content absolute -top-1.5 left-2 text-2xl text-green-500 font-bold;
  }
}
