---
import { getCollection } from 'astro:content'

import Form from 'components/main/Contact/Form.tsx'
import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'

const contact = await getCollection('contact')
---

<section id={contact[0].data.slugs}>
  <div class="wrapper pt-20">
    <AnimationFadeIn class="flex flex-col items-center gap-10">
      <div>
        <h2 class="text-center text-5xl">
          {contact[0].data.title}
        </h2>
        <p class="mx-auto mt-4 max-w-60 text-center text-sm">
          {contact[0].data.subtitle}
        </p>
      </div>

      <Form client:only="react" />
    </AnimationFadeIn>
  </div>
</section>
