---
import { getCollection } from 'astro:content'

import Form from 'components/main/Contact/Form'
import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'

const contact = await getCollection('contact')
---

<section id={contact[0].data.slugs}>
  <div class="wrapper pt-20">
    <AnimationFadeIn class="grid gap-20 md:gap-24 lg:grid-cols-2">
      <div>
        <h2 class="text-5xl">
          {contact[0].data.title}
        </h2>
        <p class="mt-2 max-w-[15rem] text-sm">
          {contact[0].data.subtitle}
        </p>
      </div>

      <Form client:only="react" />
    </AnimationFadeIn>
  </div>
</section>
