---
import { getCollection } from 'astro:content'

import Form from 'components/main/Contact/Form'
import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'

const contact = await getCollection('contact')
---

<section id={contact[0].data.slugs}>
  <div class="wrapper">
    <AnimationFadeIn class="mx-auto flex w-full flex-col gap-20 lg:w-3/5">
      <div class="text-center">
        <h2 class="text-8xl">
          {contact[0].data.title}
        </h2>
        <p
          class="mx-auto mt-2 max-w-[17rem] text-lg opacity-70 sm:text-xl dark:font-light"
        >
          {contact[0].data.subtitle}
        </p>
      </div>

      <Form client:load />
    </AnimationFadeIn>
  </div>
</section>
