---
import { getCollection } from 'astro:content'

import Form from 'components/main/Contact/Form'
import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'

const contact = await getCollection('contact')
---

<section id={contact[0].data.slugs}>
  <div class="wrapper">
    <AnimationFadeIn className="w-full mx-auto flex flex-col gap-20 lg:w-3/5">
      <div class="text-center text-light dark:text-dark">
        <h2 class="text-8xl sm:text-9xl">
          {contact[0].data.title}
        </h2>
        <p
          class="mt-2 max-w-[16rem] mx-auto opacity-70 text-lg font-light sm:text-xl"
        >
          {contact[0].data.subtitle}
        </p>
      </div>

      <Form client:load />
    </AnimationFadeIn>
  </div>
</section>
