---
import { getCollection } from 'astro:content'

import Form from 'main/Contact/Form'
import AnimationFadeIn from 'shared/AnimationFadeIn.astro'

const contact = await getCollection('contact')
const { slugs, title, subtitle } = contact[0].data
---

<section class="py-20 section sm:pt-28" id={slugs}>
  <AnimationFadeIn>
    <div class="wrapper">
      <h2 class="mb-6">{title}</h2>
      <p class="max-w-[30rem] mb-10 text-[1.9rem] sm:text-2xl">
        {subtitle}
      </p>

      <Form client:load />
    </div>
  </AnimationFadeIn>
</section>
