---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Socials from 'components/shared/Socials.astro'
import Tools from 'components/shared/Tools.astro'

const bio = await getCollection('bio')
---

<section class="sm:-my-12 h-[95dvh]" id={bio[0].data.slugs}>
  <div class="wrapper h-full flex justify-center items-center">
    <AnimationFadeIn
      className="grid grid-cols-1 gap-16 lg:grid-cols-2 lg:gap-20"
    >
      <Tools />

      <div
        class="flex flex-col gap-5 text-light dark:text-dark order-first lg:order-last"
      >
        <h2 class="text-6xl">{bio[0].data.title}</h2>
        <p
          class="w-full font-light text-base leading-relaxed tracking-wide opacity-70 lg:w-11/12"
        >
          {bio[0].data.description}
        </p>

        <Socials direction="flex-row" show />
      </div>
    </AnimationFadeIn>
  </div>
</section>
