---
import { getCollection } from 'astro:content'

import ILogo from 'shared/Icons/ILogo.astro'
import Socials from 'shared/Socials.astro'
import Top from 'shared/Top.astro'

const footer = await getCollection('footer')
const { slugs, description, copy, link } = footer[0].data
---

<section class="pt-20 pb-8 bg-black dark:bg-bgwhite" id={slugs}>
  <div class="wrapper">
    <div class="pb-20">
      <div class="flex flex-col justify-center items-center text-center gap-12">
        <div class="dark:invert">
          <ILogo strokeColor="#fff" />
        </div>
        <p class="max-w-[45rem] mx-auto text-base leading-[1.75] text-white">
          {description}
        </p>

        <Socials direction="flex-row" show />
      </div>
    </div>

    <div
      class="relative z-[2] w-fit mx-auto flex items-center gap-1 text-sm target"
    >
      <p class="font-main text-white">
        <span class="font-main text-white dark:text-black">{copy}</span>
        {`© ${new Date().getFullYear()}.  Made by`}
      </p>
      <a
        class="text-sm text-white hover:text-red transition delay-150 ease-out`"
        href={link}
        rel="noreferrer"
        target="_blank"
      >
        JAck</a
      >
    </div>

    <Top />
  </div>
</section>
