---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Down from 'components/shared/Down.astro'

const hero = await getCollection('hero')
---

<section>
  <AnimationFadeIn>
    <div class="wrapper">
      <div class="my-32">
        <h1
          class="text-dark dark:text-light max-w-3xl text-center text-5xl font-bold sm:max-w-4xl sm:text-7xl lg:text-left xl:max-w-6xl xl:text-8xl"
        >
          {hero[0].data.title}
        </h1>

        <p
          class="text-dark dark:text-light text-md mx-auto mt-6 text-center sm:max-w-xl lg:mx-0 lg:max-w-2xl lg:text-left"
        >
          {hero[0].data.description}
        </p>

        <Down />
      </div>
    </div>
  </AnimationFadeIn>
</section>
