---
import { getCollection } from 'astro:content'

import Project from 'components/main/Projects/Projects.astro'
import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Down from 'components/shared/Down.astro'

const hero = await getCollection('hero')
---

<section>
  <AnimationFadeIn>
    <div class="wrapper">
      <div class="flex min-h-[75dvh] flex-col justify-center">
        <div class="flex flex-col items-center gap-6 text-center">
          <h1
            class="dark:text-light max-w-3xl text-5xl font-bold sm:max-w-4xl sm:text-7xl xl:max-w-4xl xl:text-7xl"
          >
            {hero[0].data.title}
          </h1>

          <p class="dark:text-light text-md max-w-[20rem] md:max-w-lg">
            {hero[0].data.description}
          </p>

          <Down />
        </div>
      </div>
    </div>
  </AnimationFadeIn>

  <Project />
</section>
