---
import { getCollection } from 'astro:content'

import MainHero from 'components/main/Hero/MainHero.astro'
import SubHero from 'components/main/Hero/SubHero.astro'

const hero = await getCollection('hero')
---

<section
  id={hero[0].data.slugs}
  class="-mt-[9rem] flex flex-col gap-24 justify-end"
>
  <div class="h-[10rem]"></div>

  <MainHero title={hero[0].data.title} subtitle={hero[0].data.subtitle} />

  <SubHero />
</section>
