---
import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import Down from 'components/shared/Down.astro'

const { title, subtitle } = Astro.props as { title: string; subtitle: string }
---

<AnimationFadeIn class="flex w-full place-content-center">
  <div class="wrapper relative z-[1] flex h-full justify-center text-center">
    <div class="">
      <p class="text-light/70 dark:text-dark/70 text-2xl uppercase">
        {subtitle}
      </p>

      <h1
        class="text-light/90 dark:text-dark/90 mt-4 max-w-[50rem] text-6xl leading-snug font-normal sm:mt-0 sm:text-7xl sm:leading-snug md:text-7xl md:leading-tight"
      >
        {title}
      </h1>

      <Down />
    </div>
  </div>
</AnimationFadeIn>
