---
import { getCollection } from 'astro:content'

import AnimationFadeIn from 'components/shared/AnimationFadeIn.astro'
import SubBio from 'components/main/Bio/SubBio.astro'
import MainBio from 'components/main/Bio/MainBio.astro'

const bio = await getCollection('bio')
---

<section id={bio[0].data.slugs}>
  <div class="wrapper">
    <AnimationFadeIn class="flex flex-col gap-20 md:gap-24">
      <MainBio
        title={bio[0].data.title}
        description={bio[0].data.description}
      />

      <SubBio />
    </AnimationFadeIn>
  </div>
</section>
