---
import Socials from 'components/shared/Socials.astro'

const { title, description } = Astro.props as {
  title: string
  description: string
}
---

<div class="order-first flex flex-col gap-6 lg:order-last">
  <h2 class="text-5xl">{title}</h2>
  <p class="w-full text-sm whitespace-pre-wrap">
    {description}
  </p>

  <Socials direction="mt-4 flex-row" show loading="lazy" />
</div>
