---
import Socials from 'components/shared/Socials.astro'

const { title, description } = Astro.props as {
  title: string
  description: string
}
---

<div class="order-first flex flex-col items-center gap-6">
  <h2 class="text-5xl">{title}</h2>
  <p
    class="mx-auto max-w-xl text-center text-sm leading-6 whitespace-pre-line text-black/75 dark:text-white/75"
  >
    {description}
  </p>

  <Socials direction="mt-4 flex-row" show loading="lazy" />
</div>
