---
import Socials from 'components/shared/Socials.astro'

const { title, description } = Astro.props as {
  title: string
  description: string
}
---

<div
  class="order-first flex flex-col gap-6 lg:sticky lg:top-20 lg:order-last lg:h-fit"
>
  <h2 class="text-4xl">{title}</h2>
  <p class="max-w-xl text-sm">
    {description}
  </p>

  <Socials direction="mt-4 flex-row" show loading="lazy" />
</div>
