---
import Socials from 'components/shared/Socials.astro'

const { title, description } = Astro.props as {
  title: string
  description: string
}
---

<div
  class="text-light dark:text-dark flex flex-col items-center justify-center gap-5 text-center"
>
  <h2 class="text-8xl sm:text-9xl">{title}</h2>
  <p
    class="w-full text-lg leading-relaxed font-light tracking-wide opacity-70 sm:text-xl lg:w-1/2"
  >
    {description}
  </p>

  <Socials direction="mt-6 flex-row" show />
</div>
