---
import { getCollection } from 'astro:content'

import ILogo from 'components/shared/Icons/ILogo.astro'
import Socials from 'components/shared/Socials.astro'
import Top from 'components/shared/Top.astro'

const footer = await getCollection('footer')
const { slugs, description, copy, link } = footer[0].data
---

<footer class="pt-20 pb-8" id={slugs}>
  <div class="wrapper">
    <div class="pb-20">
      <div class="flex flex-col justify-center items-center text-center gap-12">
        <div class="dark:invert">
          <ILogo strokeColor="#fff" />
        </div>
        <p
          class="max-w-md mx-auto text-sm leading-relaxed text-light dark:text-dark"
        >
          {description}
        </p>

        <Socials direction="flex-row" show />
      </div>
    </div>

    <div class="relative z-[2] w-fit flex gap-1 text-xs font-normal target">
      <p class="font-main text-light/70 dark:text-dark">
        <span class="font-main">{copy}</span>
        {`© ${new Date().getFullYear()}.  Made by`}
      </p>

      <a
        class="text-xs text-red-400 dark:text-dark hover:text-red-500 transition delay-150 ease-out`"
        href={link}
        rel="noreferrer"
        target="_blank"
      >
        OP
      </a>
    </div>

    <Top />
  </div>
</footer>
