---
import Header from 'layout/Header/Header.astro'
import Footer from 'layout/Footer.astro'
import Seo from 'components/shared/Seo.astro'
import { Toaster } from 'components/ui/sonner'

import 'styles/base.css'

const { title } = Astro.props as {
  title: string
}
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light'
  }
  const isDark = getThemePreference() === 'dark'
  document.documentElement.classList[isDark ? 'add' : 'remove']('dark')

  if (typeof localStorage !== 'undefined') {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains('dark')
      localStorage.setItem('theme', isDark ? 'dark' : 'light')
    })
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ['class']
    })
  }
</script>

<html lang="en">
  <Seo title={title} />

  <body class="body_bg">
    <div class="flex flex-col gap-16">
      <Header />
      <main class="min-h-[75dvh]">
        <slot />
      </main>
      <Footer />
    </div>
    <!-- <script></script> -->

    <Toaster client:load />
  </body>
</html>
