---
import { ToastContainer } from 'react-toastify'

import Header from 'layout/Header/Header.astro'
import Footer from 'layout/Footer.astro'
import Seo from 'components/shared/Seo.astro'

import 'styles/base.css'
import 'react-toastify/dist/ReactToastify.css'

const { title } = Astro.props as {
  title: string
}
---

<html lang="en">
  <Seo title={title} />

  <body
    class="bg-[url('/images/bg-gradient.webp')] dark:bg-[url('/images/bg-dark-gradient.webp')] bg-no-repeat bg-cover"
  >
    <div class="flex flex-col gap-16">
      <Header />
      <main class="min-h-[20dvh]">
        <slot />
      </main>
      <Footer />
    </div>
    <!-- <script></script> -->

    <ToastContainer
      position="top-right"
      autoClose={5000}
      hideProgressBar={false}
      newestOnTop={false}
      closeOnClick
      rtl={false}
      pauseOnFocusLoss
      draggable
      pauseOnHover
      theme="dark"
      client:load
    />
  </body>
</html>
